.wp-block-guty-blocks-quote {
    width: 80%;
    margin: 50px auto 25px;
    padding: 8px;
    border: 1px solid #d8d2d0;
    text-align: center;
}

.wp-block-guty-blocks-quote .quote-text {
    padding: 8px;
    font-size: 24px;
}

.wp-block-guty-blocks-quote .first-last-quotes {
    display: inline-block;
    font-size: 36px;
    line-height: 24px;
}

.wp-block-guty-blocks-quote .author {
    display: inline-block;
    font-variant: small-caps;
    color: #646464;
}


