{
  "plugins": [
    "transform-class-properties",
    [
      "@wordpress/babel-plugin-makepot",
      {
        "output": "languages/guty-blocks-js.pot"
      }
    ],
    [
      "transform-react-jsx",
      {
        "pragma": "wp.element.createElement"
      }
    ]
  ]
}
